---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
<p align = "justify"> 
<h2>Journal articles</h2>
<ol>

<li><strong>Lei, Z.</strong> (2025). Addressing the indirect health burden of COVID-19. <i>BMJ, 390</i>, r1268. [<a href="https://doi.org/10.1136/bmj.r1268" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Jin, L., <strong>Lei, Z.</strong>, Lin, P., Ma, C., Zhang, W., Zhou, J., Meng, S., Jiang, Z., Bu, Y., Xu, Y., Wei, N., Hsu, T., Qin, G., & Qiu, H. (2024). Deep Learning with Evolutionary Scale Modeling to discover Antibiotic-Resistance Drug against <i>Klebsiella Pneumoniae</i>. <i>bioRxiv</i>. [<a href="https://doi.org/10.1101/2024.11.09.622818" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Lin, P., Zhou, J., Meng, S., <strong>Lei, Z.</strong>, Jin, L., Qiu, H., Xu, Y., Hsu, T., Bu, Y., Qin, G., & Zhang, W. (2025). Deep Learning-Driven Discovery of Potential Antibiotic-Resistance Drugs Targeting <i>Klebsiella Pneumoniae</i>. <i>bioRxiv</i>. [<a href="https://doi.org/10.1101/2024.11.25.625191" target="_blank" rel="noopener noreferrer">Link</a>] [Currently under review at <i>Biology Methods & Protocols</i>]</li>

<li><strong>Lei, Z.</strong> (2025). “Efficacy or Illusion?” Interpreting Null Results in the Rifaximin Trial. <i>Journal of Hepatology</i>. Advance online publication. [<a href="https://doi.org/10.1016/j.jhep.2025.08.012" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Lei, Z.</strong> (2025). “Surrogates Without Substance?” Questioning the Evidence for Histologic Improvement With HTD1801. <i>Clinical and Molecular Hepatology</i>. Advance online publication. [<a href="https://doi.org/10.3350/cmh.2025.0868" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Lei, Z.</strong> (2025). From Benchmark to Bedside: Can Multimodal AI Withstand Real-World Dermatology? <i>British Journal of Dermatology</i>. Advance online publication. [<a href="https://doi.org/10.1093/bjd/ljaf299" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Lei, Z.</strong> (2025). No Effect or No Power? Reassessing Remote Ischaemic Pre-conditioning Evidence in Intermittent Claudication. <i>European Journal of Vascular and Endovascular Surgery</i>. Advance online publication. [<a href="https://doi.org/10.1016/j.ejvs.2025.07.054" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Lei, Z.</strong> (2025). “Compressed design, inflated conclusions?” A cautionary note on vaporized DMT trials. <i>European Neuropsychopharmacology, 99</i>, 13. [<a href="https://doi.org/10.1016/j.euroneuro.2025.07.008" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Lei, Z.</strong> (2025). From Image to Insight: Is MRI-Based Genotyping Ready for the Clinic? <i>Liver International, 45(7)</i>, e70193. [<a href="https://doi.org/10.1111/liv.70193" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Lei, Z.</strong> (2025). “When less isn’t more” — Questioning prophylactic lymph node dissection in low-recurrence SPTCI. <i>Oral Oncology, 168</i>, 107594. [<a href="https://doi.org/10.1016/j.oraloncology.2025.107594" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Lei, Z.</strong> (2025). Shiny curves, shaky foundations: Bias and reliability in no-reflow prediction models. <i>International Journal of Cardiology</i>. Advance online publication. [<a href="https://doi.org/10.1016/j.ijcard.2025.133763" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Lei, Z.</strong> (2025). In Reference to <i>Now You See It, Now You Don't: Laryngoscopy Findings of Paradoxical Vocal Fold Motion</i>. <i>The Laryngoscope</i>. Advance online publication. [<a href="https://doi.org/10.1002/lary.32477" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Lei, Z.</strong> (2025). Letter to the Editor on “The Statistical Fragility of Randomized Controlled Trials in Kidney Stone Management: An Analysis of American Urological Association and European Association of Urology Guidelines”. <i>Urology, 202</i>, 56–57. [<a href="https://doi.org/10.1016/j.urology.2025.05.073" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Lei, Z.</strong> (2025). A comprehensive statistical analysis of COVID-19 trends: Global and United States insights through ARIMA, regression, and spatial models. <i>Microbes &amp; Immunity, 2</i>(3), 108–129. [<a href="https://doi.org/10.36922/MI025040007" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Meng, Y., Huang, Z., Liu, H., Shi, M., Zhu, S., <strong>Lei, Z.</strong>, Liu, Z., & Hu, Z. (2025). HYPmgmt: A Digital Intervention for High-Salt Diet Control in the Context of Chinese Culture. <i>JMIR Preprints</i>. [<a href="https://doi.org/10.2196/preprints.80118" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Meng, Y., Ou, Y., Liu, Z., Cai, Z., Zhu, S., Huang, Z., <strong>Lei, Z.</strong>, & Hu, Z. (2025). LIPIDcontrol: A Digital Intervention for High-Fat Dietary Management within the Cultural Context of Socioeconomically Disadvantaged Regions in Northern China. <i>JMIR Preprints</i>. [<a href="https://doi.org/10.2196/preprints.80387" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Meng, Y., Liu, Z., Liu, H., Xiao, Y., Zhang, G., <strong>Lei, Z.</strong>, Huang, Z., & Hu, Z. (2025). TibetCPR: A Multimodal Tactile Feedback System to Enhance Cardiopulmonary Resuscitation Training in High-Altitude Regions of Tibet. <i>JMIR Preprints</i>. [<a href="https://doi.org/10.2196/preprints.80560" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Liu, Z., Meng, Y., Xiao, Y., Tian, S., Cai, X., Zhang, G., Su, H., <strong>Lei, Z.</strong>, & Hu, Z. (2025). Electrotactile, Vibrotactile, and Thermal Feedback in a Wearable CPR Training Game: Comparative Effectiveness Study. <i>JMIR Preprints</i>. [<a href="https://doi.org/10.2196/preprints.80768" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Meng, Y., Bingxin, Y., Liu, Z., Ou, Y., <strong>Lei, Z.</strong>, & Hu, Z. (2025). Challenges and Opportunities in Cardiopulmonary Resuscitation (CPR) Training and Implementation in Tibet: A Qualitative Study on Knowledge Gaps, Cultural Barriers, and Digital Solutions. <i>JMIR Preprints</i>. [<a href="https://doi.org/10.2196/preprints.80785" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Meng, Y., Liu, Z., Liu, B., Su, H., Ou, Y., <strong>Lei, Z.</strong>, & Hu, Z. (2025). A Multimodal Haptic Feedback–Assisted Training System for Traditional Chinese Acupuncture: Reducing Procedural Risk to Ensure Treatment Safety. <i>JMIR Preprints</i>. [<a href="https://doi.org/10.2196/preprints.80985" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Meng, Y., Liu, Z., Zhang, Y., Liu, B., Chen, J., Qu, Z., Li, Z., <strong>Lei, Z.</strong>, & Hu, Z. (2025). Evaluating the Quality of Health Information Generated by Generative AI: The Case of Chronic Disease Management in China. <i>JMIR Preprints</i>. [<a href="https://doi.org/10.2196/preprints.82469" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Liu, Z., Meng, Y., Tian, S., Liu, B., Xiao, Y., <strong>Lei, Z.</strong>, & Hu, Z. (2025). Cutting-Edge Applications of Wearable Technology in Exercise Monitoring: A Brief Literature Review. <i>JMIR Preprints</i>. [<a href="https://doi.org/10.2196/preprints.82474" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Wang, Q., Meng, Y., Liu, Z., <strong>Lei, Z.</strong>, & Hu, Z. (2025). I Can Do It Better: A Creative VR Latte Art–Based Approach to Cognitive and Motor Skills Training for Adults with ADHD. <i>JMIR Preprints</i>. [<a href="https://doi.org/10.2196/preprints.82598" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Meng, Y., Qin, H., Liu, Z., <strong>Lei, Z.</strong>, &amp; Hu, Z. (2025). “Map of Sugar”: wearable non-invasive glucose monitoring and community data sharing. <i>JMIR Preprints</i>. [<a href="https://doi.org/10.2196/preprints.82874" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Meng, Y., Liu, B., <strong>Lei, Z.</strong>, Liu, Z., &amp; Hu, Z. (2025). PURmgmt: A Culturally Tailored Digital Intervention for High-Purine Diet Management in China. <i>JMIR Preprints</i>. [<a href="https://doi.org/10.2196/preprints.83211" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Dong, B., Xu, H., Tang, N., Jiang, M., <strong>Lei, Z.</strong>, & Han, Y. (2025). Analysis of key factors and equity in influenza vaccination among Chinese adults: Evidence from a large national cross-sectional survey. <i>Frontiers in Public Health, 13</i>, 1601577. [<a href="https://doi.org/10.3389/fpubh.2025.1601577" target="_blank" rel="noopener noreferrer">Link</a>]</li>

</ol>

<h2>Conference Papers</h2>
<ol>
<li><strong>Lei, Z.</strong> (2024). Analysis of Simpson’s Paradox and Its Applications. <i>Highlights in Science, Engineering and Technology, 88</i>, 357–362. [<a href="https://doi.org/10.54097/315qax57" target="_blank" rel="noopener noreferrer">Link</a>]</li>

</ol>

</p> 
